<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Paws & Claws</title>
    <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
 </head>
 <body>
   <table>
     <tr>
       <td class="heading" style="width 75%">
         <h1>Paws & Claws</h1>
       </td>
       <td class="newcat" style="width 25%">
       </td>
     </tr>
   </table>
  <table>
   <form class="add_form" action="/add_cat" method="post">
     <label for="name">First name:</label>
     <input type="text" id="name" name="name"><br>
     <label for="description">Description:</label>
     <input type="textarea" rows="10" cols="50" id="description" name="description"><br>
     <label for="description">Picture:</label>
     <input type="url" id="picture" name="picture"><br>
     <label for="price">Price per day:</label>
     <input type="text" id="price" name="price"><br>
     <input type="submit" value="Submit">
   </form>
</body>
</html>
