.add_form{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.adding {
  display: inline-block;
}
.cat-picture{
width: 100px;
}
h1{
  font-family:'Quicksand', sans-serif !important;
  font-size: 60px;
  color: #81C7C7;
  text-align: center;
  display: inline-block;

}

h2 {
  font-family:'Quicksand', sans-serif !important;
  font-size: 30px;
  color: #81C7C7 !important;
  text-align: center;
  display: inline-block;

}

.heading{
  text-align: center;
}

.newcat{
  text-align: center;
}
table{
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
td{
  margin: 0 auto;
  text-align: left;
}
